html, body {
  height: 100vh;
  overflow: hidden;
}

body {
  background: radial-gradient(
    circle closest-corner at center 125px,
    #222,
    black 80%
  ) no-repeat;
}

h1 {
  font-family: 'Syncopate', sans-serif;
  text-transform: uppercase;
  background: radial-gradient(
    circle farthest-corner at center center,
    #ccc,
    #6d6d6d
  ) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-dark-mod {
  color: #d6d6d6;
  background-color: #5a5a5a;
  width: 15%;
}

.display-3 {
  font-size: 3.25rem;
  margin-bottom: 8%;
  display: inline-block;
  padding-top: 100px;
}

.card-body {
  background-color: rgba(0,0,0,0.8)!important;
  /* border: solid rgba(0,0,0,.02); */
}

.form-control {
  background-color: transparent;
  background-color: rgba(0,0,0,.2);
  border: solid rgba(0,0,0,.05);
}

label {
  color: rgba(260,260,260,.8);
}

.card {
  border: none!important;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

#secrets .secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
  line-height: 3;
}

#home .display-3 {
  font-size: 4rem;
}

.lead {
  color: white;
}

.btn-light {
  background-color: #f8f9fa87;
  border-color: #6c757d00;
}

.btn-lg {
  padding: .5rem 3rem;
}

.jumbotron {
  background: radial-gradient(
    circle closest-corner at center 195px,
    #222,
    black 80%
  ) no-repeat;
  padding-top: 50px;
  text-align: center;
  height: 100vh;
}
