
.centered {
    padding-top: 200px;
    text-align: center;
}

#secrets .secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
  line-height: 3;
}

html, body {
  height: 100vh;
  overflow: hidden;
}

#home .display-3 {
  font-size: 4rem;
}
.lead {
  color: white;
}

.btn-light {
  background-color: #f8f9fa87;
  border-color: #6c757d00;
}

.display-3 {
  font-size: 3.25rem;
  margin-bottom: 8%;
}

.btn-lg {
  padding: .5rem 3rem;
}

.jumbotron {
  background: radial-gradient(
    circle closest-corner at center 195px,
    #222,
    black 80%
  ) no-repeat;
  padding-top: 50px;
  text-align: center;
  height: 100vh
}

/* body {
  background: radial-gradient(
    circle closest-corner at center 125px,
    #222,
    black 80%
  ) no-repeat;
  text-align: center;
} */

h1 {
  display: inline-block;
  padding-top: 100px;
  font-family: 'Syncopate', sans-serif;
  text-transform: uppercase;
  background: radial-gradient(
    circle farthest-corner at center center,
    #ccc,
    #333
  ) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
